<extend name="Public/common"/>

<block name="style">
    <link rel="stylesheet" type="text/css" href="__JS__/uploadify/uploadify.css">
    <style>
        #img_show span{
            position: relative;
            display: inline-block;
        }

        #img_show img{
            margin-right: 5px;
            margin-bottom: 5px;
        }

        #img_show a{
            position: absolute;
            right: 5px;
            margin-right: 5px;
            margin-top: 5px;
            top: 0;
        }
    </style>
</block>

<block name="page_nav">
    <div class="page-heading">
        <h3>种子</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('Seed/index')}">种子管理</a>
            </li>
            <li class="active">编辑种子</li>
        </ul>
    </div>
</block>

<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U()}" class="form">
                        <input type="hidden" name="seed_id" value="{$info.seed_id}">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="seed_name">种子名称 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="seed_name" id="seed_name" value="{$info.seed_name}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="seed_sn">种子编码 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="seed_sn" id="seed_sn" value="{$info.seed_sn}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label class="item-label" for="img_show">种子图片 <span class="check-tips">（可同时选择多张）</span></label>

                                <!-- 图片展示域 -->
                                <div class="col-md-12" id="img_show">
                                    <foreach name="info.seed_img" item="row">
                                        <span>
                                            <img src="{$row}" style="width:160px;height:160px;" class="img-thumbnail" alt="种子图片">
                                            <input type="hidden" name="seed_img[]" value="{$row}">
                                            <a href="javascript:void(0)" class="btn btn-xs btn-primary"> 删除 </a>
                                        </span>
                                    </foreach>
                                </div>
                                <!-- end -->

                                <div class="col-md-6">
                                    <div class="row">
                                        <p>
                                            1、图片格式为jpeg、jpg、gif、png
                                            <br>
                                            2、图片大小不要超过 5M
                                        </p>
                                        <input type="file" id="upload_file">
                                        <input type="button" class="btn btn-primary btn-sm" id="upload_btn" value=" 上传图片 ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="seed_price">参考价格 <span class="check-tips">（单位:元/千克，数值:最多可保留两位小数）</span></label>
                                <input type="number" class="form-control" name="seed_price" id="seed_price" value="{$info.seed_price}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="density">种植密度 <span class="check-tips">（单位:株/平米，数值:最多可保留两位小数）</span></label>
                                <input type="number" class="form-control" name="density" id="density" value="{$info.density}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="output_min">每平米最小产量 <span class="check-tips">（单位:千克/平米，数值:最多可保留两位小数）</span></label>
                                <input type="number" class="form-control" name="output_min" id="output_min" value="{$info.output_min}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="output_max">每平米最大产量 <span class="check-tips">（单位:千克/平米，数值:最多可保留两位小数）</span></label>
                                <input type="number" class="form-control" name="output_max" id="output_max" value="{$info.output_max}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="period_seeding">播种期 <span class="check-tips">（单位:天，数值:整数）</span></label>
                                <input type="number" class="form-control" name="period_seeding" id="period_seeding" value="{$info.period_seeding}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="period_nursery">育苗期 <span class="check-tips">（单位:天，数值:整数）</span></label>
                                <input type="number" class="form-control" name="period_nursery" id="period_nursery" value="{$info.period_nursery}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="period_grow">生长期 <span class="check-tips">（单位:天，数值:整数）</span></label>
                                <input type="number" class="form-control" name="period_grow" id="period_grow" value="{$info.period_grow}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="period_maturity">成熟期 <span class="check-tips">（单位:天，数值:整数）</span></label>
                                <input type="number" class="form-control" name="period_maturity" id="period_maturity" value="{$info.period_maturity}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="period_reap">收获期 <span class="check-tips">（单位:天，数值:整数）</span></label>
                                <input type="number" class="form-control" name="period_reap" id="period_reap" value="{$info.period_reap}">
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="item-label">种子介绍<span class="check-tips"></span></label>
                                <script id="ueditor1" type="text/plain">{$info.seed_descript}</script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                <label class="item-label">种植说明<span class="check-tips"></span></label>
                                <script id="ueditor2" type="text/plain">{$info.seed_usage}</script>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary ajax-post" target-form="form">确 定</button>
                        <button class="btn a-back">返 回</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/uploadify/jquery.uploadify.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript">
        var ue = UE.getEditor('ueditor1', {
            width:'100%',
            height:'300px',
            textarea:'seed_descript',
        });

        var ue2 = UE.getEditor('ueditor2', {
            width:'100%',
            height:'300px',
            textarea:'seed_usage',
        });


        //导航高亮
        highlight_subnav("{:U('Seed/index')}");

        //uploadify配置
        $(document).ready(function() {
            $("#upload_file").uploadify({
                'auto':false,
                'swf': '__JS__/uploadify/uploadify.swf', 
                'uploader': "{:U('Seed/uploadimg')}",
                'buttonText':'选择图片',
                'fileObjName':'Filedata',
                'fileSizeLimit':10240,
                'fileTypeExts':'*.jpg;*.png;*.jpeg;*.gif',
                'fileTypeDesc':'请您选择图片格式的文件',
                //'formData':{'uid':id},
                'width':68,
                'height':28,
                'multi':true,
                //'queueSizeLimit':1,
                'itemTemplate':false,
                'onUploadSuccess':function(file, data){
                    var res = $.parseJSON(data);
                    if (res.status) {
                        $('#seed_demo').remove();
                        var cont = '<p><img src="'+res.info+'" style="width:160px;height:160px;" class="img-thumbnail" alt="种子图片">';
                        cont += '<input type="hidden" name="seed_img[]" value="'+res.info+'">';
                        cont += '<br><a href="javascript:void(0)" class="btn btn-xs btn-danger"> 删除 </a></p>';
                        $('#img_show').append(cont);
                        $('#img_show a').click(function() {
                            $(this).parent().remove();
                        })
                    } else {
                        alert(res.info);
                    }
                }
            });

            $('#upload_btn').click(function() {
                $('#upload_file').uploadify('upload','*');
            });
            $('#img_show a').click(function() {
                $(this).parent().remove();
            })
        });
    </script>
</block>