<extend name="Public/common"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__JS__/ios-switch/switchery.css" />
</block>

<block name="menu">
	
</block>

<block name="page_nav">
	<div class="page-heading">
		<h3>其他</h3>
		<ul class="breadcrumb">
			<li>
				<a href="javascript:;">物流公司</a>
			</li>
			<li class="active"> 编辑公司信息</li>
		</ul>
	</div>
</block>

<block name="body">
	<div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                        编辑物流公司信息
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                </header>

                <div class="panel-body">


                    <section id="unseen">
                        <form class="form-horizontal form" role="form" action="{:U()}">
							<input type="hidden" name="id" value="{$list.id}" >
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">公司名称</label>

                                <div class="col-lg-10">
                                    <div class="iconic-input">
                                        <i class="fa fa-home"></i>
                                        <input class="form-control" name="name" value="{$list.name}" placeholder="请输入公司名称" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">物流编码</label>

                                <div class="col-lg-10">
                                    <div class="iconic-input">
                                        <i class="fa fa-home"></i>
                                        <input class="form-control" name="code"  value="{$list.code}" placeholder="请输入编码"
                                               type="text">
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">排序</label>

                                <div class="col-lg-10">
                                    <div class="iconic-input">
                                        <i class="fa fa-home"></i>
                                        <input class="form-control" name="listorder"  value="{$list.listorder}" placeholder="请输入序号"
                                               type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">展示地址</label>

                                <div class="col-lg-10">
                                    <div class="iconic-input">
                                        <i class="fa fa-home"></i>
                                        <input class="form-control" name="url"  value="{$list.url}" placeholder="请输入公司域名"
                                               type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">状态</label>

                                <div class="row slide-toggle">
                                    <div class="form-group col-lg-4">

                                        <input type="checkbox" class="js-switch-blue" value="1" name="status" <if condition="$list.status eq 1">checked</if>/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<button class="btn btn-primary ajax-post" target-form="form" type="submit">确 定</button>
									<button class="btn a-back">返 回</button>
								</div>
							</div>
                        </form>
                    </section>
                </div>
            </section>
        </div>
    </div>
</block>

<block name="script">
    <script src="__JS__/ios-switch/switchery.js" ></script>
    <script type="text/javascript">
        // 导航高亮
        highlight_subnav('{:U("delivery")}');
        //选中框
        var blue = document.querySelector('.js-switch-blue');
        var switchery = new Switchery(blue, { color: '#41b7f1' });
		// 未填写信息的行变红
		$('input').blur(function() {
			if(!$(this).val()) {
				$(this).parent().parent().parent().addClass('has-error');
			}else {
				$(this).parent().parent().parent().removeClass('has-error');
			}
		});
		

	</script>
</block>