<extend name="Public/common" />
<block name="style">

</block>
<block name="page_nav">
    <div class="page-heading">
        <h3>订单</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">交易订单</a>
            </li>
            <li class="active">订单列表</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="operate-body">
                        <div class="pull-right search-form form-inline">
                            <form action="" onsubmit="return false">
                                下单时间：
                                <input type="text" name="start_time" value="{:I('start_time')}" class="laydate-icon form-control search-input" id="start" placeholder="开始时间"/>
                                <input type="text" name="end_time" value="{:I('end_time')}" class="form-control search-input laydate-icon" id="end" placeholder="结束时间"/>
                                <select name="kw" class="form-control">
                                    <option value="1" <if condition="I('kw') eq 1">selected="true"</if>>订单编号</option>
                                    <option value="2" <if condition="I('kw') eq 2">selected="true"</if>>用户名</option>
                                </select>
                                <input type="text" name="vw" class="form-control search-input" value="{:I('vw')}">
                                <a href="javascript:;" class="btn btn-info" id="search">搜索</a>
                                <a href="{:U()}" class="btn btn-primary" id="search">重置</a>
                            </form>
                        </div>
                    </div>
                    <section id="unseen">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="120">订单号</th>
                                    <th>方案名称</th>
                                    <th>用户</th>
                                    <th>购买面积(平米)</th>
                                    <th>支付总额(元)</th>
                                    <th>预期收益(千克/平米)</th>
                                    <th>当前收益(千克/平米)</th>
                                    <th>存储期收益(千克)</th>
                                    <th>最终收益(千克)</th>
                                    <th>收益期</th>
                                    <th>收益时间</th>
                                    <th>下单时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            <notempty name="lists">
                                <volist name="lists" id="row">
                                    <tr <if condition="$row.is_platform eq 1">style="opacity:0.5"</if>>
                                        <td>{$row.order_sn}</td>
                                        <td>{$row.plan_name}</td>
                                        <td>{$row.uname}</td>
                                        <td>{$row.order_area}</td>
                                        <td>{$row.pay_total}</td>
                                        <td>{$row.plan_income}</td>
                                        <td>
                                            <if condition="$row['status'] eq 2">
                                                <span class="text-muted">{$row.order_income_set}</span>
                                                <else/>
                                                <span class="text-info">{$row.order_income_set}</span>
                                                <a title="设置收益" class="pull-right" href="javascript:doComplete('{$row.order_id}','{$row.order_area}')">设置</a>
                                            </if>
                                        </td>

                                        <td>
                                            <span class=" <if condition="$row['status'] eq 2">text-muted<else/>text-info</if>">{$row.order_income_should|number_format=###,2,'.',','}</b>
                                        </td>

                                        <td>
                                            <if condition="$row['status'] eq 2">
                                                <span class="text-muted">{$row.order_income_final|number_format=###,2,'.',','}</span>
                                                <else/>
                                                - -
                                            </if>
                                        </td>
                                        <td>
                                            <switch name="row['order_income_period']">
                                                <case value="seeding">播种期</case>
                                                <case value="nursery">育苗期</case>
                                                <case value="grow">生长期</case>
                                                <case value="maturity">成熟期</case>
                                                <case value="storage">存储期</case>
                                                <case value="over">过期</case>
                                                <default/>- -
                                            </switch>
                                        </td>
                                        <td>
                                            <if condition="$row['status'] eq 2">
                                                {$row.update_time|date='Y-m-d H:i:s', ###}
                                                <else/>
                                                - -
                                            </if>
                                        </td>
                                        <td>{$row.add_time|date='Y-m-d H:i:s', ###}</td>
                                    </tr>
                                </volist>
                                <else/>
                                    <tr>
                                        <td colspan="11" class="text-center">暂无数据</td>
                                    </tr>
                            </notempty>
                            </tbody>
                        </table>
                    </section>
                    <div class="page">
                        {$page}
                    </div>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script src="__ASSET__/laydate/laydate.js"></script>
    <script>
        var start = {
            elem: '#start',
            format: 'YYYY-MM-DD',
            //min: '2015-10-10', //设定最小日期为当前日期
            max: laydate.now(), //最大日期
            istoday: false,
            choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas; //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY-MM-DD',
            //min: '2015-10-10',
            max: laydate.now(), //最大日期
            istoday: true,
            choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate.skin('molv');
        laydate(start);
        laydate(end);


        $("#search").click(function(){
            var url = "{:U('income')}";
            var query  = $('form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });

        //收获
        function doComplete(id,area)
        {
            layer.use('extend/layer.ext.js', function() {
                layer.prompt({
                    title: '设置实际单位收益 (千克/平米)',
                    formType: 0
                }, function (cont) {
                    var cont = parseFloat(cont);
                    var total = cont * area;
                    layer.confirm('用户将在存储期获得总共 <span class="label label-danger">' + total + ' 千克</span> 收益', {
                        btn: ['确定', '返回']
                    }, function () {
                        $.ajax({
                            url: '{:U("Sellorder/docomplete")}',
                            data: {id: id, income: cont},
                            type: 'post',
                            dataType: 'json',
                            success: function (res) {
                                if (res.status == 0) {
                                    layer.msg(res.info);
                                } else {
                                    layer.msg('操作成功！');
                                    setTimeout(function () {
                                        window.location.reload();
                                    }, 800);
                                }
                            },
                            error: function () {
                                layer.msg('提交失败');
                                //window.location.reload();
                            }
                        })
                    }, function () {
                        doComplete(id);
                    });
                });
            })
        }
    </script>
</block>