<extend name="Public/common"/>
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>方案管理</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('Sellplan/index')}">销售方案</a>
            </li>
            <li class="active">编辑方案</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U()}" class="form">
                        <input type="hidden" name="plan_id" value="{$info.plan_id}">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="name">方案名称 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="plan_name" id="name" value="{$info.plan_name}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="bind">方案描述 <span class="check-tips"></span></label>
                                <textarea class="form-control" name="plan_descript" id="bind">{$info.plan_descript}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="price">方案单价<span class="check-tips">（元/每平米）</span></label>
                                <input type="number" class="form-control" name="plan_price" id="price" value="{$info.plan_price}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="area_surplus">总面积<span class="check-tips">（单位:平米）</span></label>
                                <input type="number" class="form-control" name="area_surplus" id="area_surplus" value="{$info.area_surplus}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="area_min">最小购买量<span class="check-tips">（单位:平米）</span></label>
                                <input type="number" class="form-control" name="area_min" id="area_min" value="{$info.area_min}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="area_max">最大购买量<span class="check-tips">（单位:平米）</span></label>
                                <input type="number" class="form-control" name="area_max" id="area_max" value="{$info.area_max}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="income_expect">预期产量<span class="check-tips">（单位:千克/平米）</span></label>
                                <input type="number" class="form-control" name="income_expect" id="income_expect" value="{$info.income_expect}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="income_min">预期最小产量<span class="check-tips">（单位:千克/平米）</span></label>
                                <input type="number" class="form-control" name="income_min" id="income_min" value="{$info.income_min}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="income_max">预期最大产量<span class="check-tips">（单位:千克/平米）</span></label>
                                <input type="number" class="form-control" name="income_max" id="income_max" value="{$info.income_max}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="plan_start">方案执行时间<span class="check-tips"></span></label>
                                <input type="text" class="form-control laydate-icon  search-input" name="plan_start" id="plan_start" value="{$info.plan_start|date='Y-m-d',###}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="seed">使用种子<span class="check-tips"></span></label>
                                <select class="form-control" id="seed" name="seed_id">
                                    <notempty name="seedList">
                                        <volist name="seedList" id="row">
                                            <option value="{$row.seed_id}">{$row.seed_name}</option>
                                        </volist>
                                    <else/>
                                        <option value="0"> - 暂无可选 - </option>
                                    </notempty>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="discount">折扣方案<span class="check-tips"></span></label>
                                <select class="form-control" id="discount" name="discount_id">
                                    <notempty name="discountList">
                                        <volist name="discountList" id="row">
                                            <option value="{$row.discount_id}">播种期:{$row.seeding} / 育苗期:{$row.nursery} / 生长期:{$row.grow} / 成熟期:{$row.maturity} / 收获期:{$row.reap} / 存储期:{$row.storage} / 过期:{$row.over} </option>
                                        </volist>
                                    <else/>
                                        <option value="0"> - 暂无可选 - </option>
                                    </notempty>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">存储方案<span class="check-tips"></span></label>
                                <notempty name="storageList">
                                    <volist name="storageList" id="row">
                                        <label class="col-md-12">
                                            <input type="checkbox" name="storage_id[]" <in name="row['storage_id']" value="$storage">checked="true"</in> value="{$row.storage_id}">
                                            {$row.storage_name} ( 价格:{$row.storage_price}元 每千克每天; 存储期:{$row.storage_time}天)
                                        </label>
                                    </volist>
                                    <else/>
                                    <span> &nbsp; 暂无可选</span>
                                </notempty>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="farm">使用农场<span class="check-tips"></span></label>
                                <select class="form-control" id="farm" name="farm_id">
                                    <notempty name="farmList">
                                        <volist name="farmList" id="row">
                                            <option value="{$row.farm_id}" <if condition="$row['farm_id'] eq $info['farm_id']">selected="true"</if>>{$row.farm_name}</option>
                                        </volist>
                                    <else/>
                                        <option value="0"> - 暂无可选 - </option>
                                    </notempty>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="block">使用农场分区<span class="check-tips"></span></label>
                                <select class="form-control" id="block" name="block_id">
                                    <option value="0"> - 请先选择农场 - </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="camera">使用摄像头<span class="check-tips"></span></label>
                                <select class="form-control" id="camera" name="camera_id">
                                    <option value="0"> - 请先选择农场 - </option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary ajax-post" target-form="form">确 定</button>
                        <button class="btn a-back">返 回</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script src="__ASSET__/laydate/laydate.js"></script>
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Sellplan/index')}");

        //时间选择窗
        var start = {
            elem: '#plan_start',
            format: 'YYYY-MM-DD',
            istoday: false,
            choose: function(datas){
            }
        };
        laydate.skin('molv');
        laydate(start);

        //通过农场获取分区
        //首次加载
        getBlock(true);
        //动态获取
        $('#farm').change(function(){
            getBlock();  
        });
  
        function getBlock(flag){
            var id = $('#farm').val();
            $.ajax({
                url:'{:U("Sellplan/getBlock")}',
                type:'post',
                data:{'id':id},
                dataType:'json',
                success:function(res)
                {
                    $('#block').empty();
                    $('#camera').empty().append('<option value="0">- 不使用 -</option>');
                    if(res.hasOwnProperty('info')){
                        $('#block').append('<option value="0">'+res.info+'</option>');
                    }else{
                        var block = res.block;
                        var camera = res.camera;
                        for (var i=0;i<block.length;i++){
                            $('#block').append('<option value="'+block[i]['block_id']+'">'+block[i]['block_name']+'(可用面积:'+block[i]['area_used']+'平米)</option>');    
                        }
                        for (var i=0;i<camera.length;i++){
                            $('#camera').append('<option value="'+camera[i]['id']+'">'+camera[i]['title']+'</option>');    
                        }
                        if (flag) {
                            $('#block').find('[value="{$info.block_id}"]').attr('selected','1');
                            $('#camera').find('[value="{$info.camera_id}"]').attr('selected','1'); 
                            $('#discount').find('[value="{$info.discount_id}"]').attr('selected','1'); 
                            $('#storage').find('[value="{$info.storage_id}"]').attr('selected','1'); 
                        }
                    }
                },
                error:function()
                {
                    alert('网络链接失败,刷新后重试。');
                }
            });    
        }
    </script>
</block>