<extend name="Public/common"/>
<block name="style">
	
</block>

<block name="page_nav">
	<div class="page-heading">
		<h3>农场管理</h3>
		<ul class="breadcrumb">
			<li>
				<a href="javascript:;">农场管理</a>
			</li>
			<li>
				<a href="{:U('farm')}">农场列表</a>
			</li>
            <li>
                <a href="{:U('block', array('farm_id'=>$farm['farm_id'], 'farm_name'=>$farm['farm_name']))}">{$farm.farm_name}</a>
            </li>
			<li class="active"> 编辑分区</li>
		</ul>
	</div>
</block>

<block name="body">
	<div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                        编辑分区
                </header>

                <div class="panel-body">
                    <section id="unseen">
                        <form class="form-horizontal form" role="form" action="{:U()}">
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">分区编号</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="block_sn" value="{$info.block_sn}" type="text" placeholder="请输入分区编号">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">分区名称</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="block_name" value="{$info.block_name}" placeholder="请输入分区名称" type="text">
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">分区类型</label>
                                <div class="col-lg-2">
									<select name="type_id" class="form-control">
									<volist name="type" id="vo">
										<option value="{$vo.type_id}">{$vo.type_name}</option>
									</volist>
									</select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">分区描述</label>
                                <div class="col-lg-10">
                                    <div>
										<textarea class="form-control" name="block_descript" rows="5">{$info.block_descript}</textarea>
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">单价（元/平米）</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="block_price" value="{$info.block_price}" placeholder="请输入分区单价" type="text">
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">分区总面积（平米）</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="area_total" value="{$info.area_total}" placeholder="请输入分区总面积" type="text">
                                    </div>
                                </div>
                            </div>
							
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">平均温度（℃）</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="block_temp" value="{$info.block_temp}" placeholder="请输入平均温度" type="text">
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">盐碱度</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="block_state" value="{$info.block_state}" placeholder="请输入盐碱度" type="text">
                                    </div>
                                </div>
                            </div>
							
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">适用种子</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="seed" value="{$info.seed}" placeholder="请输入适用种子" type="text">
                                    </div>
                                </div>
                            </div>
							
                            <div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
                                    <input type="hidden" name="farm_id" value="{$info.farm_id}">
                                    <input type="hidden" name="block_id" value="{$info.block_id}">
									<button class="btn btn-primary ajax-post" target-form="form" type="submit">确 定</button>
									<button class="btn a-back">返 回</button>
								</div>
							</div>
                        </form>
                    </section>
                </div>
            </section>
        </div>
    </div>
</block>

<block name="script">
	<script type="text/javascript">
		// 导航高亮
		highlight_subnav('{:U("Farm/farm")}');
		
		// 未填写信息的行变红
		$('input').blur(function() {
			if(!$(this).val()) {
				$(this).parent().parent().parent().addClass('has-error');
			}else {
				$(this).parent().parent().parent().removeClass('has-error');
			}
		});

        window.setValue('type_id', '{$info.type_id}');
	</script>
</block>