<extend name="Public/common"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__JS__/ios-switch/switchery.css" />
</block>

<block name="menu">
	
</block>

<block name="page_nav">
	<div class="page-heading">
		<h3>农场</h3>
		<ul class="breadcrumb">
			<li>
				<a href="javascript:;">发货地址</a>
			</li>
			<li class="active"> 编辑发货地址</li>
		</ul>
	</div>
</block>

<block name="body">
	<div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                        编辑农场
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                </header>

                <div class="panel-body">


                    <section id="unseen">
                        <form class="form-horizontal form" role="form" action="{:U()}">
							<input type="hidden" name="id" value="{$list.id}" >
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">农场名称</label>
                                <div class="col-lg-10">
                                    <div class="iconic-input">
                                        <i class="fa fa-home"></i>
                                        <notempty name="farms">
                                            <select name="farm_id" id="farm_id" class="form-control">
                                                <volist name="farms" id="farm">
                                                    <option <if condition="$farm['farm_id'] eq $list['farm_id']"> selected </if> value="{$farm.farm_id}">{$farm.farm_name}</option>
                                                </volist>
                                            </select>
                                        </notempty>
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">所属地</label>
                                <div class="col-lg-2">
									<select name="p_id" class="form-control">
										<option value="">-- 省 --</option>
										<volist name="province" id="vo">
											<option value="{$vo.area_id}" <if condition="$vo['area_id'] eq $list['p_id']">selected</if>>{$vo.area_name}</option>
										</volist>
									</select>
                                </div>
								<div class="col-lg-2">
									<select name="city_id" class="form-control m-bot15">
										<volist name="city" id="vo">
											<option value="{$vo.area_id}" <if condition="$vo['area_id'] eq $list['city_id']">selected</if>>{$vo.area_name}</option>
										</volist>
									</select>
                                </div>
								<div class="col-lg-2">
									<select name="area_id" class="form-control m-bot15">
										<volist name="area" id="vo">
											<option value="{$vo.area_id}" <if condition="$vo['area_id'] eq $list['area_id']">selected</if>>{$vo.area_name}</option>
										</volist>
									</select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">详细地址</label>

                                <div class="col-lg-10">
                                    <div class="iconic-input">
                                        <i class="fa fa-home"></i>
                                        <input class="form-control" name="area_info" value="{$list.area_info}" placeholder="请输入详细地址" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">发货人</label>

                                <div class="col-lg-10">
                                    <div class="iconic-input">
                                        <i class="fa fa-home"></i>
                                        <input class="form-control" name="seller_name"  value="{$list.seller_name}" placeholder="请输入发或人姓名"
                                               type="text">
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">手机号码</label>

                                <div class="col-lg-10">
                                    <div class="iconic-input">
                                        <i class="fa fa-home"></i>
                                        <input class="form-control" name="telphone" value="{$list.telphone}" placeholder="请输入手机号码"
                                               type="number">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">公司名称</label>

                                <div class="col-lg-10">
                                    <div class="iconic-input">
                                        <i class="fa fa-home"></i>
                                        <input class="form-control" name="company" value="{$list.company}" placeholder="请输入联系邮箱"
                                               type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">默认</label>

                                <div class="row slide-toggle">
                                    <div class="form-group col-lg-4">

                                        <input type="checkbox" class="js-switch-blue" value="1" name="is_defaule" <if condition="$list.is_defaule eq 1">checked</if>/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<button class="btn btn-primary ajax-post" target-form="form" type="submit">确 定</button>
									<button class="btn a-back">返 回</button>
								</div>
							</div>
                        </form>
                    </section>
                </div>
            </section>
        </div>
    </div>
</block>

<block name="script">
    <script src="__JS__/ios-switch/switchery.js" ></script>
    <script type="text/javascript">
        // 导航高亮
        highlight_subnav('{:U("address")}');
        //选中框
        var blue = document.querySelector('.js-switch-blue');
        var switchery = new Switchery(blue, { color: '#41b7f1' });
		// 未填写信息的行变红
		$('input').blur(function() {
			if(!$(this).val()) {
				$(this).parent().parent().parent().addClass('has-error');
			}else {
				$(this).parent().parent().parent().removeClass('has-error');
			}
		});
		
		// 省、市、县（区）的三级联动
		$('select[name="p_id"]').change(function() {
			var provinceid = $(this).val();
			$.ajax({
				url: '{:U("linkage")}',
				dataType: 'json',
				type: 'POST',
				data: {'provinceid': provinceid},
				success: function(data) {
					$('select[name="city_id"]').empty();
					$('select[name="area_id"]').empty();
					$.each(data.city, function() {
						$('select[name="city_id"]').append('<option value="' + this.area_id + '">' + this.area_name + '</option>');
					});
					$.each(data.area, function() {
						$('select[name="area_id"]').append('<option value="' + this.area_id + '">' + this.area_name + '</option>');
					});
				}
			})
		});
		$('select[name="city_id"]').change(function() {
			var cityid = $(this).val();
			$.ajax({
				url: '{:U("linkage")}',
				dataType: 'json',
				type: 'POST',
				data: {'cityid': cityid},
				success: function(data) {
					$('select[name="area_id"]').empty();
					$.each(data, function() {
						$('select[name="area_id"]').append('<option value="' + this.area_id + '">' + this.area_name + '</option>');
					});
				}
			})
		});
	</script>
</block>