<extend name="Public/common"/>
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>农场</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('farm')}">农场列表</a>
            </li>
            <li class="active">编辑物流</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U()}" class="form">

                        <input type="hidden" name="farm_id" value="{$farm.farm_id}">
                        <div class="row">
                            <div class="form-group col-lg-5">
                                <label class="item-label" >农场：{$farm.farm_name} <span class="check-tips"></span></label>
                                <div class="col-md-12" id="checkControl" onselectstart="return false">
                                    <label><input type="checkbox" id="checkAll"> 全选</label> 
                                    <label><input type="checkbox" id="revCheckAll"> 反选</label> 
                                    <label><input type="checkbox" id="cancelAll"> 取消</label> 
                                </div>
                                <hr>
                                <div id="moduleList" onselectstart="return false">
                                    <h5 class="col-md-12">物流公司列表</h5>
                                    <volist name="express_lists" id="list">
                                        <label class="col-md-4"><input type="checkbox" name="auth[]" <in name="list.id" value="$info.express">checked</in> value="{$list.id}"> {$list.name}</label>
                                    </volist>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary ajax-post" target-form="form">确 定</button>
                        <button class="btn a-back">返 回</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('farm')}");
        $(function(){
            //全选
            $('#checkAll').click(function(){
                if($(this).is(':checked')){
                    $('#revCheckAll').removeAttr('checked');
                    $('#cancelAll').removeAttr('checked');
                    $('#moduleList input').attr('checked','true');
                }else{
                    return false;
                } 
            });

            //反选
            $('#revCheckAll').click(function(){
                if($(this).is(':checked')){
                    $('#checkAll').removeAttr('checked');
                    $('#cancelAll').removeAttr('checked');
                    $('#moduleList input').each(function(){
                        if($(this).is(':checked')){
                            $(this).removeAttr('checked');
                        }else{
                            $(this).attr('checked','true');
                        }
                    });
                }else{
                    return false;
                } 
            });

            //取消
            $('#cancelAll').click(function(){
                $('#checkAll').removeAttr('checked');
                $('#revCheckAll').removeAttr('checked');
                $('#moduleList input').removeAttr('checked');
            })
        })


    </script>
</block>