<extend name="Public/common"/>
<block name="style">
	
</block>

<block name="page_nav">
	<div class="page-heading">
		<h3>农场管理</h3>
		<ul class="breadcrumb">
			<li>
				<a href="javascript:;">农场管理</a>
			</li>
			<li class="active"> 编辑农场</li>
		</ul>
	</div>
</block>

<block name="body">
	<div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                        编辑农场
                </header>

                <div class="panel-body">
                    <section id="unseen">
                        <form class="form-horizontal form" role="form" action="{:U()}">
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">农场编码</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="farm_sn" value="{$info.farm_sn}" type="text">
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">农场名称</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="farm_name" value="{$info.farm_name}" placeholder="请输入农场名称" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">农场介绍</label>
                                <div class="col-lg-10">
                                    <div>
										<textarea class="form-control" name="farm_descript">{$info.farm_descript}</textarea>
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">农场总面积（平米）</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="area_total" value="{$info.area_total}" placeholder="请输入农场总面积" type="text">
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">所属地</label>
                                <div class="col-lg-2">
									<select name="province" class="form-control">
										<option value="">-- 请选择省 --</option>
									</select>
                                </div>
								<div class="col-lg-2">
									<select name="city" class="form-control m-bot15">
                                        <option value="">-- 请选择市 --</option>
									</select>
                                </div>
								<div class="col-lg-2">
									<select name="county" class="form-control m-bot15">
                                        <option value="">-- 请选择地区 --</option>
									</select>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">详细地址</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="address" value="{$info.address}" placeholder="请输入详细地址" type="text">
                                    </div>
                                </div>
                            </div>
							
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">所有者姓名</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="owner_name" value="{$info.owner_name}" placeholder="请输入所有者姓名" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">座机号码</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="owner_tel" value="{$info.owner_tel}" placeholder="请输入座机号码" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">手机号码</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="owner_mobile" value="{$info.owner_mobile}" placeholder="请输入手机号码" type="text">
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">联系邮箱</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="owner_email" value="{$info.owner_email}" placeholder="请输入联系邮箱" type="text">
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">微信账号</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="owner_wechat" value="{$info.owner_wechat}" placeholder="请输入微信账号" type="text">
                                    </div>
                                </div>
                            </div>
							
							<div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label">QQ号码</label>
                                <div class="col-lg-10">
                                    <div>
                                        <input class="form-control" name="owner_qq" value="{$info.owner_qq}" placeholder="请输入QQ号码" type="text">
                                    </div>
                                </div>
                            </div>
							
                            <div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
                                    <input type="hidden" name="farm_id" value="{$info.farm_id}" >
									<button class="btn btn-primary ajax-post" target-form="form" type="submit">确 定</button>
									<button class="btn a-back">返 回</button>
								</div>
							</div>
                        </form>
                    </section>
                </div>
            </section>
        </div>
    </div>
</block>

<block name="script">
	<script type="text/javascript">
		// 导航高亮
		highlight_subnav('{:U("Farm/farm")}');
		
		// 未填写信息的行变红
		$('input').blur(function() {
			if(!$(this).val()) {
				$(this).parent().parent().parent().addClass('has-error');
			}else {
				$(this).parent().parent().parent().removeClass('has-error');
			}
		});

        getArea('province', 0, '{$info.province}');
        getArea('city', '{$info.province}', '{$info.city}');
        getArea('county', '{$info.city}', '{$info.county}');

        function getArea(ele, area_id, select_id){
            $.ajax({
                type: 'POST',
                url: '{:U("Area/lists")}',
                dataType: 'json',
                data: { area_id: area_id},
                success: function (data) {
                    $.each(data, function (k, area) {
                        $('select[name="'+ele+'"]').append('<option value="' + area.area_id + '">' + area.area_name + '</option>');
                    });
                    window.setValue(ele, select_id);
                }
            });
        }
		
		// 省、市、县（区）的三级联动
		$('select[name="province"]').change(function() {
			var provinceid = $(this).val();
			$.ajax({
                url: '{:U("Area/lists")}',
				dataType: 'json',
				type: 'POST',
				data: {area_id: provinceid},
				success: function(data) {
                    var html = '<option value="">-- 请选择市 --</option>';
					$.each(data, function(k, area) {
                        html += '<option value="' + area.area_id + '">' + area.area_name + '</option>';

					});
                    $('select[name="city"]').html(html);
                    $('select[name="county"]').html('<option value="">-- 请选择地区 --</option>');
				}
			})
		});
		$('select[name="city"]').change(function() {
			var cityid = $(this).val();
			$.ajax({
                url: '{:U("Area/lists")}',
				dataType: 'json',
				type: 'POST',
				data: {area_id: cityid},
				success: function(data) {
                    var html = '<option value="">-- 请选择地区 --</option>';
                    $.each(data, function(k, area) {
                        html += '<option value="' + area.area_id + '">' + area.area_name + '</option>';

                    });
                    $('select[name="county"]').html(html);
				}
			})
		});
	</script>
</block>