<extend name="Public/common"/>
<block name="style"></block>

<block name="page_nav">
    <div class="page-heading">
        <h3>农场管理</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('farm')}">农场管理</a>
            </li>
            <li class="active">分类列表</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="operate-body">
                        <div class="pull-left">
                            <a href="{:U('typeadd')}" class="btn btn-info">添加分类</a>
                        </div>
                    </div>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>分类名称</th>
                                    <th>添加时间</th>
									<th>修改时间</th>
									<th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <notempty name="lists">
                                <volist name="lists" id="list">
                                <tr>
                                    <td>{$list.type_name}</td>
                                    <td>{$list.add_time|date='Y-m-d H:i:s', ###}</td>
									<td>{$list.update_time|date='Y-m-d H:i:s', ###}</td>
                                    <td>
                                        <a title="编辑" href="{:U('typeedit', array('type_id'=>$list['type_id']))}">编辑</a>
                                        <a class="confirm ajax-get" title="删除" href="{:U('typedel', array('type_id'=>$list['type_id']))}">删除</a>
                                    </td>
                                </tr>
                                </volist>
                            <else/>
                                <tr>
                                    <td colspan="4" class="text-center">暂无数据</td>
                                </tr>
                            </notempty>
                            </tbody>
                        </table>
                    </section>
                    <div class="page">
                        {$page}
                    </div>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
		// 导航高亮
		highlight_subnav('{:U("Farm/farm")}');
    </script>
</block>