<extend name="Public/common"/>
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>监控管理</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">监控管理</a>
            </li>
            <li class="active">监控列表</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="operate-body">
                        <div class="pull-left">
                            <a href="{:U('add')}" class="btn btn-info">添加</a>
                        </div>
                        <div class="pull-right search-form form-inline">
                            <form action="" onsubmit="return false">
                                <input type="text" name="title" class="form-control search-input" value="{:I('title')}" placeholder="请输入监控标题">
                                <input type="text" name="camera_id" class="form-control search-input" value="{:I('camera_id')}" placeholder="请输入监控ID">
                                <a href="javascript:;" class="btn btn-info" id="search">搜索</a>
                            </form>
                        </div>
                    </div>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>所属分区</th>
                                <th>摄像头标识</th>
                                <th>地址</th>
                                <th>添加时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <notempty name="lists">
                                <volist name="lists" id="vo">
                                    <tr>
                                        <td>{$vo.title}</td>
                                        <td>{$vo.ztitle}</td>
                                        <td>{$vo.camera_id}</td>
                                        <td>{$vo.server_ip}:{$vo.server_port}</td>
                                        <td>{$vo.add_time|date='Y-m-d H:i:s', ###}</td>
                                        <td>{$vo.status|get_camera_status}</td>
                                        <td>
                                            <a title="编辑" href="{:U('edit',array('id'=>$vo['id']))}">编辑</a>
                                            <if condition="$vo.status eq 0">
                                                <a class="confirm ajax-get" title="禁用" href="{:U('state',array('id'=>$vo['id'], 'status'=>0))}">禁用</a>
                                                <a title="发布" href="{:U('release',array('id'=>$vo['id'], 'zid'=>$vo['zone_id']))}">发布</a>
                                            <else />
                                                <a class="confirm ajax-get" title="启用" href="{:U('state',array('id'=>$vo['id'], 'status'=>1))}">启用</a>
                                            </if>
                                            <a class="confirm ajax-get" title="删除" href="{:U('del',array('id'=>$vo['id']))}">删除</a>
                                        </td>
                                    </tr>
                                </volist>
                                <else/>
                                <tr>
                                    <td colspan="7" class="text-center">暂无数据</td>
                                </tr>
                            </notempty>
                            </tbody>
                        </table>
                    </section>
                    <div class="page">
                        {$page}
                    </div>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $("#search").click(function(){
            var url = "{:U('index')}";
            var query  = $('form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
    </script>
</block>