<extend name="Public/common" />
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>库存</h3>
        <ul class="breadcrumb">
            <li><a href="{:U('index')}">库存管理</a></li>
            <li class="active">库存明细</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="operate-body">
                        <div class="pull-left">
                            <button class="btn a-back">返 回</button>
                        </div>
                        <div class="pull-right search-form form-inline">
                            <form action="" onsubmit="return false">
                                <input type="hidden" name="summary_id" value="{:I('summary_id')}">
                                <select name="kw" class="form-control">
                                    <option value="1" <if condition="I('kw') eq 1">selected="true"</if>>方案</option>
                                    <option value="2" <if condition="I('kw') eq 2">selected="true"</if>>种子</option>
                                    <option value="3" <if condition="I('kw') eq 3">selected="true"</if>>用户</option>
                                </select>
                                <input type="text" name="vw" class="form-control search-input" value="{:I('vw')}">
                                <a href="javascript:;" class="btn btn-info" id="search">搜索</a>
                                <a href="{:U()}" class="btn btn-primary" id="search">重置</a>
                            </form>
                        </div>
                    </div>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>用户身份</th>
                                    <th>用户名</th>
                                    <th>方案</th>
                                    <th>农作物</th>
                                    <th>库存总量(千克)</th>
                                    <th>可用库存(千克)</th>
                                    <th>冻结库存(千克)</th>
                                    <th>创建时间</th>
                                    <th>查看</th>
                                </tr>
                            </thead>
                            <tbody>
                            <notempty name="lists">
                                <volist name="lists" id="row">
                                <tr>
                                    <td width="60">
                                        <if condition="$row['is_platform'] eq 0">
                                            真实用户
                                            <else/>
                                            平台用户
                                        </if>
                                    </td>
                                    <td>{$row.user_name}</td>
                                    <td>{$row.plan_name}</td>
                                    <td>{$row.seed_name}</td>
                                    <td>{$row.total_weight}</td>
                                    <td>{$row.available_weight}</td>
                                    <td>{$row.freeze_weight}</td>
                                    <td>{$row.add_time|date='Y-m-d H:i:s',###}</td>
                                    <td><a title="查看库存记录" href="{:U('log?plan_id='.$row['plan_id'].'&user_id='.$row['user_id'])}">记录</a></td>
                                </tr>
                                </volist>
                            <else/>
                                <tr>
                                    <td colspan="9" class="text-center">暂无数据</td>
                                </tr>
                            </notempty>
                            </tbody>
                        </table>
                    </section>
                    <div class="page">
                        {$page}
                    </div>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $("#search").click(function(){
            var url = "{:U('details')}";
            var query  = $('form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
    </script>
</block>