<extend name="Public/common"/>
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>社区</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">社区</a>
            </li>
            <li class="active">社区列表</li>
            <li class="active">添加文章</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U()}" class="form">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="name">标题 <span class="check-tips">（消息标题）</span></label>
                                <input type="text" class="form-control" name="title" id="name" value="{$info.name}" placeholder="消息标题">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="group">收信人 <span class="check-tips">（前台用户的用户名）</span></label>
                                <select class="form-control" id="group" name="uid">
                                    <volist name="user" id="list" k="key">

                                            <option value="{$list.uid}" >
                                                {$list.user_name}
                                            </option>

                                    </volist>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="title">类型 <span class="check-tips">（消息类型）</span></label>
                                <input type="text" class="form-control" name="type" value="{$info.title}" id="title" placeholder="消息类型">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="remark">消息内容<span class="check-tips">（给前台用户发心内容）</span></label>
                                <textarea class="form-control" name="content" id="remark" rows="6"></textarea>
                            </div>
                        </div>




                        <button type="submit" class="btn btn-primary ajax-post" target-form="form">确 定</button>
                        <button class="btn a-back">返 回</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <!--file upload-->
    <script type="text/javascript" src="__JS__/uploadify/jquery.uploadify.js"></script>

    <script>
        //导航高亮
        highlight_subnav("{:U('Marketing/news')}");
        $("#search").click(function(){
            var url = "{:U('index')}";
            var query  = $('form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });


        $(document).ready(function() {
            var id= 123;
        $("#upload_file").uploadify({
            'auto':false,
            'swf': '__JS__/uploadify/uploadify.swf',
            'uploader': "{:U('Adminuser/uploadImg')}",
            'buttonText':'选择图片',
            'fileObjName':'Filedata',
            'fileSizeLimit':5120,
            'fileTypeExts':'*.jpg;*.png;*.jpeg;*.gif',
            'fileTypeDesc':'请您选择图片格式的文件',
            'formData':{'uid':id},
            'width':68,
            'height':28,
            'multi':true,
            'queueSizeLimit':1,
            'itemTemplate':false,
            'onUploadSuccess':function(file, data, response){
                var res = $.parseJSON(data);
                console.log(res);
                if (res.status) {
                    $('#upload_url').val(res.info);
                    $('#img_show').attr('src',res.info);
                } else {
                    alert(res.info);
                }

            }
        });
        $('#upload_btn').click(function(){
            $('#upload_file').uploadify('upload','*');
        });
        });

    </script>
</block>