<extend name="Public/common"/>
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>系统</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">模板管理</a>
            </li>
            <li class="active">模板列表</li>
            <li class="active">添加模板</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U()}" class="form">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="name2">模板名称 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="name" id="name2" placeholder="请输入模板名称">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="alias">别名 <span class="check-tips"></span>（示例：alias）</label>
                                <input type="text" class="form-control" name="alias" id="alias" placeholder="请输入英文别名">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="ls">模板标签 <span class="check-tips"></span><literal>（示例：手机号码,验证码 [mobile],[code]）</literal></label>
                                <input type="text" class="form-control" name="param" id="ls" placeholder="[mobile],[code]">
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="remark">模板内容<span class="check-tips"><literal>(示例：您好，[name]先生/女士！)</literal></span></label>
                                <textarea class="form-control" name="content" id="remark" placeholder="<literal>您好，[name]先生/女士！</literal>" rows="6"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary ajax-post" target-form="form">确 定</button>
                        <button class="btn a-back">返 回</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <!--file upload-->
    <script type="text/javascript" src="__JS__/uploadify/jquery.uploadify.js"></script>

    <script>
        //导航高亮
        highlight_subnav("{:U('Sms/message')}");
        $("#search").click(function(){
            var url = "{:U('index')}";
            var query  = $('form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });


        $(document).ready(function() {
            var id= 123;
        $("#upload_file").uploadify({
            'auto':false,
            'swf': '__JS__/uploadify/uploadify.swf',
            'uploader': "{:U('Adminuser/uploadImg')}",
            'buttonText':'选择图片',
            'fileObjName':'Filedata',
            'fileSizeLimit':5120,
            'fileTypeExts':'*.jpg;*.png;*.jpeg;*.gif',
            'fileTypeDesc':'请您选择图片格式的文件',
            'formData':{'uid':id},
            'width':68,
            'height':28,
            'multi':true,
            'queueSizeLimit':1,
            'itemTemplate':false,
            'onUploadSuccess':function(file, data, response){
                var res = $.parseJSON(data);
                console.log(res);
                if (res.status) {
                    $('#upload_url').val(res.info);
                    $('#img_show').attr('src',res.info);
                } else {
                    alert(res.info);
                }

            }
        });
        $('#upload_btn').click(function(){
            $('#upload_file').uploadify('upload','*');
        });
        });

    </script>
</block>