<extend name="Public/common"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__JS__/uploadify/uploadify.css">
    <style>
        #img_show span, #img_show_multi span {
            position: relative;
            display: inline-block;
        }

        #img_show img, #img_show_multi img {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        #img_show a, #img_show_multi a {
            position: absolute;
            top: 5px;
            right: 5px;
            margin-right: 5px;
        }
    </style>
</block>
<block name="page_nav">
    <div class="page-heading">
        <h3>分区管理</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('index')}">分区列表</a>
            </li>
            <li class="active">分区详情</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U()}" class="form">
                        <input type="hidden" name="id" value="{$info.id}">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="title">分区标题 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="title" id="title" value="{$info.title}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="total_stock">分区容量<span
                                        class="check-tips">（单位：份）</span></label>
                                <input type="number" class="form-control" name="total_stock" id="total_stock"
                                       value="{$info.total_stock}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="seed">商品 </label>
                                <select class="form-control" id="seed" name="goods_id">
                                    <notempty name="goodsList">
                                        <volist name="goodsList" id="row">
                                            <option <if condition="$row['id'] eq $info['goods_id']"> selected </if> value="{$row.id}">{$row.name}</option>
                                        </volist>
                                        <else/>
                                        <option value="0"> - 暂无可选 -</option>
                                    </notempty>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary ajax-post" target-form="form">确 定</button>
                        <button class="btn a-back">返 回</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/uploadify/jquery.uploadify.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.all.min.js"></script>

    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Goodszone/index')}");
        //ueditor编辑器
        var ue = UE.getEditor('ueditor', {
            textarea:'content'
        });
        //时间选择窗
        var start = {
            elem: '#plan_start',
            format: 'YYYY-MM-DD',
            istoday: false,
            choose: function(datas){
            }
        };


    </script>
</block>