<extend name="Public/common"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__JS__/ios-switch/switchery.css" />
</block>
<block name="page_nav">
    <div class="page-heading">
        <h3>短信接口管理</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">短信接口管理</a>
            </li>
            <li class="active">编辑（{$info.name}）</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U()}" class="form">
                        <if condition="$info['code'] eq 'huyi'">
                            <!-- 网银在线支付 -->
                            <input type="hidden" name="config_name" value="huyi_account,huyi_password" />
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label class="item-label">互亿无线账户</label>
                                    <if condition="isset($info['config']['huyi_account'])">
                                        <input type="text" class="form-control" name="huyi_account" value="{$info.config.huyi_account}" placeholder="互亿无线账户" />
                                        <else />
                                        <input type="text" class="form-control" name="huyi_account" value="" placeholder="互亿无线账户" />
                                    </if>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label class="item-label">互亿无线密码</label>
                                    <if condition="isset($info['config']['huyi_password'])">
                                        <input type="text" class="form-control" name="huyi_password" value="{$info.config.huyi_password}" placeholder="互亿无线密码" />
                                        <else />
                                        <input type="text" class="form-control" name="huyi_password" value="" placeholder="互亿无线密码" />
                                    </if>
                                </div>
                            </div>
                        </if>
                        <input type="hidden" name="id" value="{$info.id}">
                        <button type="submit" class="btn btn-primary ajax-post" target-form="form">确 定</button>
                        <button class="btn a-back">返 回</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script>
        highlight_subnav("{:U('index')}");
    </script>
</block>