<extend name="Public/common"/>
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>系统</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('Group/index')}">系统用户组</a>
            </li>
            <li class="active">编辑用户组</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U()}" class="form">
                        <input type="hidden" name="group_id" value="{$info.group_id}">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="name">用户组名称 <span class="check-tips">（用于显示的用户组名称）</span></label>
                                <input type="text" class="form-control" name="group_name" id="name" value="{$info.group_name}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">用户组状态<span class="check-tips">（是否启用管理组）</span></label>
                                <label><input type="radio" name="status" value="1" <if condition="$info.status eq 1">checked="true"</if>> 启用 </label>
                                &nbsp;
                                <label><input type="radio" name="status" value="0" <if condition="$info.status eq 0">checked="true"</if>> 禁用 </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-5">
                                <label class="item-label" >用户组权限 <span class="check-tips"></span></label>
                                <div class="col-md-12" id="checkControl" onselectstart="return false">
                                    <label><input type="checkbox" id="checkAll"> 全选</label> 
                                    <label><input type="checkbox" id="revCheckAll"> 反选</label> 
                                    <label><input type="checkbox" id="cancelAll"> 取消</label> 
                                </div>
                                <hr>
                                <div id="moduleList" onselectstart="return false">
                                    <h5 class="col-md-12">菜单权限</h5>
                                    <volist name="moduleList" id="list">
                                        <if condition="$list['is_menu'] eq 1">
                                        <label class="col-md-4"><input type="checkbox" name="auth[]" <in name="list.module_id" value="$groupAuth">checked="true"</in> value="{$list.module_id}"> {$list.module_name}</label>
                                        </if>
                                    </volist>
                                    <hr>
                                    <h5 class="col-md-12">非菜单权限</h5>
                                    <volist name="moduleList" id="list">
                                        <if condition="$list['is_menu'] eq 0">
                                            <label class="col-md-4"><input type="checkbox" name="auth[]" <in name="list.module_id" value="$groupAuth">checked="true"</in> value="{$list.module_id}"> {$list.module_name}</label>
                                        </if>
                                    </volist>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary ajax-post" target-form="form">确 定</button>
                        <button class="btn a-back">返 回</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Group/index')}");
        $(function(){
            //全选
            $('#checkAll').click(function(){
                if($(this).is(':checked')){
                    $('#revCheckAll').removeAttr('checked');
                    $('#cancelAll').removeAttr('checked');
                    $('#moduleList input').attr('checked','true');
                }else{
                    return false;
                } 
            });

            //反选
            $('#revCheckAll').click(function(){
                if($(this).is(':checked')){
                    $('#checkAll').removeAttr('checked');
                    $('#cancelAll').removeAttr('checked');
                    $('#moduleList input').each(function(){
                        if($(this).is(':checked')){
                            $(this).removeAttr('checked');
                        }else{
                            $(this).attr('checked','true');
                        }
                    });
                }else{
                    return false;
                } 
            });

            //取消
            $('#cancelAll').click(function(){
                $('#checkAll').removeAttr('checked');
                $('#revCheckAll').removeAttr('checked');
                $('#moduleList input').removeAttr('checked');
            })
        })
    </script>
</block>