<extend name="Public/common"/>
<block name="style">
    <style>
        body{
            background-color:#e7e6e6
        }
        #navWrp{
            background: rgb(245,245,245); /* Old browsers */
            background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(255,255,255) 50%, rgb(255,255,255) 51%, rgb(245,245,245) 51%, rgb(245,245,245) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(255,255,255) 50%,rgb(255,255,255) 51%,rgb(245,245,245) 51%,rgb(245,245,245) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(255,255,255) 50%,rgb(255,255,255) 51%,rgb(245,245,245) 51%,rgb(245,245,245) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
            height:6.5em;
            line-height:6.5em
        }
        .mapWrp{margin:20px 0}
        .mapWrp p{margin:5px 0}
        .mapWrp .col-md-5{position:relative;float:none;display:inline-block}
        .mapWrp .col-md-5 div{position:absolute;top:50%;left:20%;
            -webkit-transform: translate(-20%,-50%);
            -moz-transform: translate(-20%,-50%);
            -ms-transform: translate(-20%,-50%);
            -o-transform: translate(-20%,-50%);
            transform: translate(-20%,-50%);}
    </style>
</block>
<block name="page_nav">

</block>
<block name="body">
    <!---主体内容--->
    <div id="main" style="background-color:#fff;" class="clearfix">
        <img src="__IMG__/mapBnr.jpg" alt="" style="width:100%;margin-bottom: 10px">
        <div class="clearfix col-md-12 mapWrp">
            <div class="col-md-offset-1 col-md-5">
                <img src="__IMG__/mapLocate.jpg" alt="" style="width: 100%">
            </div>
            <div class="col-md-5">
                <div>
                    <p>地址：河北33号商务园C座B2大厦</p>
                    <p>电话：8888888</p>
                    <p>手机：18888888888</p>
                    <p>传真：8888888</p>
                    <p>邮箱：18888888888@163.com</p>
                </div>
            </div>
        </div>
        <div class="clearfix col-md-12 mapWrp">
            <div class="col-md-offset-1 col-md-5">
                <img src="__IMG__/mapLocate.jpg" alt="" style="width: 100%">
            </div>
            <div class="col-md-5">
                <div>
                    <p>地址：河北33号商务园C座B2大厦</p>
                    <p>电话：8888888</p>
                    <p>手机：18888888888</p>
                    <p>传真：8888888</p>
                    <p>邮箱：18888888888@163.com</p>
                </div>
            </div>
        </div>
        <div class="clearfix col-md-12 mapWrp">
            <div class="col-md-offset-1 col-md-5">
                <img src="__IMG__/mapLocate.jpg" alt="" style="width: 100%">
            </div>
            <div class="col-md-5">
                <div>
                    <p>地址：河北33号商务园C座B2大厦</p>
                    <p>电话：8888888</p>
                    <p>手机：18888888888</p>
                    <p>传真：8888888</p>
                    <p>邮箱：18888888888@163.com</p>
                </div>
            </div>
        </div>
    </div>
</block>
