<extend name="./Public/commonOther"/>
<block name="style">
<link rel="stylesheet" type="text/css" href="__CSS__/jquery-picZoomer.css">
<style>
    body{
        background-color:#e7e6e6
    }
    #navWrp{
        background: #fff;
        height:8em;
        line-height:8em
    }
    #navWrp .container{
        padding:0 100px
    }
    .piclist{
        margin-top: 15px;
        padding:0
    }
    .piclist li{
        display: inline-block;
        padding:0;
        cursor: pointer;
    }
    .piclist li img{
        width: 100%;
        height: auto;
        padding-right:15px
    }
    .picZoomer{
        padding-right:15px
    }
    #orderDetail{
        background-color:#fff;
        border-top:1px solid #d29d3e;
        padding-top:30px
    }
    #orderDetail h3.productTitle{
        height: 2em;
        font-size: 1.6em;
        margin-top: 10px;
        font-weight: 700;
    }
    .picZoomer-pic-wp{
        max-height:350px;
        border: 1px solid #efefef;
        padding: 5px;
        text-align: center;
    }
    #detailWrp h3{
        height: 3em;
        line-height: 3em;
        color: #1d1d1d;
        font-size: 1.5em;
    }
    .form-horizontal .control-label{text-align:left}
    .productInfo{
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 1.4em;
        background: rgb(255,240,232); /* Old browsers */
        background: -moz-linear-gradient(-65deg, rgba(255,240,232,1) -1%, rgba(255,240,232,1) 50%, rgba(255,255,255,1) 51%, rgba(254,87,16,1) 51%, rgba(254,87,16,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-65deg, rgba(255,240,232,1) -1%,rgba(255,240,232,1) 50%,rgba(255,255,255,1) 51%,rgba(254,87,16,1) 51%,rgba(254,87,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(115deg, rgba(255,240,232,1) -1%,rgba(255,240,232,1) 50%,rgba(255,255,255,1) 51%,rgba(254,87,16,1) 51%,rgba(254,87,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff0e8', endColorstr='#fe5710',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    #price span{color:#fe5710}
    #express span{
        display:block;
        color: white;
        text-align: center;
    }
    .orange{
        color:#fe835e
    }
    label{font-weight:normal}
    .padWrp span{padding-right:1.1em}
    #buyAct{
        font-size: 1.5em;
        padding: .5em 0;
        background-color: #c40000;
        color: white;
        margin-top:1em
    }
    .glyphicon-ok-circle:before{vertical-align: middle}

    .nav-pills{
        display: flex;
        justify-content: center;
        margin-top:2em;
        margin-bottom: 2em;
    }
    .nav-pills>li{float: none}
    .nav-pills li{
        width:30%;
        text-align: center;
        background-color: #858585;
        color: white;
        cursor: pointer;
    }
    /*.nav-pills li:focus,.nav-pills li:active{*/
    /*background-color: #858585;*/
    /*}*/
    .nav>li>a{
        padding: 0;
        height: 2.4em;
        line-height: 2.4em;
        font-size: 1.2em;
    }
    .nav li.col-md-4{padding:0}
    .nav>li>a,.nav>li>a:hover,.nav>li>a:active{color:white}
    .nav-pills>li>a,.nav-pills>li>a:hover,.nav-pills>li>a:active{border-radius: 0}
    .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,.nav-pills>li>a:hover{background-color:#3c3c3c}
    .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{background-color:#fff}
    .table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th{background-color:#f9f9f9}
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{border-top:none}
    #prodcutShow{
        border-left: 7px solid #b88939;
        color: #b88939;
        padding-left: 10px;
        height: 20px;
        line-height: 20px;
    }
    .cmtLi{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cmtLi .avatarDt{
        width:80%;
        text-align:center;
    }
    .avatarImg{
        width: 80px;
        height: 80px;
        border-radius: 80px;
        background-color: #b88939;
        padding: 2px;
        margin: 10px auto;
    }
    .cmtTitle{
        height: 40px;
        line-height: 40px;
        border-bottom: 1px dashed #aaa;
    }
    .cmtAct span{
        border-bottom:1px solid #535b60;
        margin-left:10px;
        cursor:pointer
    }
    .titleWrp{
        position:relative;
        clear: both;
    }
    #planWrp .planWrp:nth-child(even) .descTitle{
        left:-webkit-calc(50% - 280px);
        text-align: left;
        padding-left: 20px;
    }
    #planWrp .planWrp:nth-child(even) .desc{
        float: left;
        width: 40%;
    }
    #planWrp .planWrp:nth-child(odd) .desc{
        float: right;
        width: 40%;
    }

    .circle{
        width: 150px;
        height: 150px;
        border-radius: 150px;
        padding: 10px 0;
        box-shadow: 0 0 50px #aaa;
        text-align: center;
        margin: 0 auto;
    }
    .circle span{
        display: inline-block;
        width: 130px;
        height: 130px;
        border-radius: 130px;
        background-color: #9d3b57;
        line-height: 130px;
        color: white;
        font-size: 80px;
    }
    .descTitle{
        position: absolute;
        top: 45px;
        left: -webkit-calc(50% + 100px);
        height: 60px;
        line-height: 20px;
        background: url(__IMG__/titleBg.png) no-repeat center 0;
        background-size: contain;
        width: 200px;
        text-align: right;
        padding-right: 20px;
        font-size: 16px;
    }
</style>
</block>
<block name="body">
    <div id="orderDetail">
        <div class="container" style="padding:0 100px">
            <h3 class="productTitle">{$info.name}</h3>
            <div class="clearfix" style="padding:0">
                <div class="col-md-6" style="padding:0">
                    <div class="picZoomer">
                        <img src="{$info.picture}" alt="">
                    </div>
                    <ul class="piclist clearfix">

                        <volist name="info.picture_more" id="more">
                            <li class="col-md-4"><img src="{$more}" alt=""></li>
                        </volist>
                    </ul>
                </div>
                <div class="col-md-5" style="float:right" id="detailWrp">
                    <div class="productInfo">
                        <p id="price">￥<span>{$info.price}</span></p>
                        <p id="express">
                            <span>快递</span>
                            <span style="padding-top:.5em;font-size:1.2em;">秦皇岛</span>
                        </p>
                    </div>
                    <h3>
                        {$info.name}
                    </h3>
                    <form class="form-horizontal" method="post" action="{:U('Shop/add')}" style="font-size: 1.1em;color: #777;">
                        <input type="hidden" name="id" value="{$info.id}"/>
                        <input type="hidden" name="type" value="{$info.goods_type}"/>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">供应商：</label>
                            <div class="col-sm-6" style="padding-top:7px;">
                                <span class="orange" style="text-decoration:underline">河北擎远生物科技</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="variety" class="col-sm-3 control-label">数　量：</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control col-sm-3" id="variety" name="variety" value="1"/>
                                <span></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 padWrp">
                                <span>销　量：<b class="orange">{$info.sales}</b></span>
                                <span>浏览次数：<b class="orange"><if condition="$info.browse gt 0">{$info.browse}<else/>0</if></b></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 padWrp">
                                <span>服务承诺</span>
                                <span>正品保证</span>
                                <span>极速退款</span>
                                <span>七天无理由退换</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-10">
                                <button type="submit" class="btn btn-default col-sm-6" id="buyAct">
                                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                    确定下单
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="nav nav-pills" id="navLi" role="tablist">
                    <li role="presentation" class="active"><a>产品详情</a></li>
                    <li role="presentation"><a>产品评价</a></li>
                    <li role="presentation"><a>养殖计划</a></li>
                </ul>
                <div class="tab-content" style="margin-top:15px">
                    <div role="tabpanel" class="tab-pane active" id="detail">
                        <div style="text-align: center;" class="embed-responsive embed-responsive-4by3">
                            <iframe src="__IMG__/testvedio.mp4" allowfullscreen="" class="embed-responsive-item" frameborder="0" style="width:100%"></iframe>
                        </div>
                        {$info.description}

                    </div>
                    <div role="tabpanel" class="tab-pane " id="comment">
                        <volist name="info['statistics']['lists']" id="static">
                            <div class="cmtLi">
                                <div class="avatarDt">
                                    <div class="avatarImg"></div>
                                    <p>{$static.user_name}</p>
                                    <p>订单号：<span>{$static.order_sn}</span></p>
                                </div>
                                <div class="cmtWrp">
                                    <div class="cmtTitle clearfix">
                                        <div class="time pull-left">{$static.comment_time|date='Y-m-d', ###}</div>
                                        <!--<div class="cmtAct pull-right">-->
                                        <!--<span>点赞</span>-->
                                        <!--<span>回复</span>-->
                                        <!--</div>-->
                                    </div>
                                    <p style="margin-top:10px">
                                        {$static.comment}
                                    </p>
                                </div>
                            </div>
                        </volist>


                    </div>
                    <div role="tabpanel" class="tab-pane " id="plan">

                        <div id="planWrp">
                            <volist name="info['plans']" id="plan" key="cc">
                                <div class="planWrp">
                                    <div class="oneTitle titleWrp">
                                        <div class="circle">
                                            <span>{$cc}</span>
                                        </div>
                                        <div class="descTitle">
                                            {$plan.title}
                                        </div>
                                    </div>
                                    <div class="desc">
                                        {$plan.content}
                                    </div>
                                </div>
                            </volist>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/jquery.picZoomer.js"></script>
    <script type="text/javascript">
        $(function() {
            $('.picZoomer').picZoomer();
            //切换图片
            $('.piclist li').on('click',function(event){
                var $pic = $(this).find('img');
                $('.picZoomer-pic').attr('src',$pic.attr('src'));
            });
            //tab切换
            $("#navLi li").click(function(){
                $(this).addClass("active").siblings().removeClass("active");
                $(".tab-content>div").eq($(this).index()).show().siblings().hide();
            });

        });

    </script>
</block>