<extend name="Public/common"/>
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>提现管理</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">提现管理</a>
            </li>
            <li class="active">提现列表</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="operate-body">
                        <div class="pull-right search-form form-inline">
                            <form action="" onsubmit="return false">
                                <input type="text" name="username" class="form-control search-input" value="{:I('username')}" placeholder="请输入会员名">
                                <input type="text" name="audit" class="form-control search-input" value="{:I('audit')}" placeholder="请输入审核员">
                                <input type="text" name="start-time" class="laydate-icon form-control search-input" id="start" />
                                <input type="text" name="end-time" class="form-control search-input laydate-icon" id="end" />
                                <input type="text" name="name" class="form-control search-input" value="{:I('name')}" placeholder="请输入配置名称">
                                <a href="javascript:;" class="btn btn-info" id="search">搜索</a>
                            </form>
                        </div>
                    </div>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>会员名</th>
                                <th>提现金额</th>
                                <th>提现手续费</th>
                                <th>应到账金额</th>
                                <th>提现时间</th>
                                <th>提现状态</th>
                                <th>处理人</th>
                                <th>处理时间</th>
                                <th>处理说明</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <notempty name="lists">
                                <volist name="lists" id="vo">
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.user_name}</td>
                                        <td>{$vo.withdraw_money|format_money}</td>
                                        <td>{$vo.withdraw_fee|format_money}</td>
                                        <td><if condition="$vo.status eq 3">0.00<else/>{$vo.success_money|format_money}</if></td>
                                        <td>{$vo.add_time|date='Y-m-d H:i:s', ###}</td>
                                        <td>{$vo.status}</td>
                                        <td>{$vo.audit_user|default=''}</td>
                                        <td><notempty name="vo.audit_time">{$vo.audit_time|date='Y-m-d H:i:s', ###}</notempty></td>
                                        <td>{$vo.remark|default=''}</td>
                                        <td><in name="vo.status" value="0,1"><a href="{:U('edit', array('id'=>$vo['id']))}">处理</a><else/>---</in></td>
                                    </tr>
                                </volist>
                                <else/>
                                <tr>
                                    <td colspan="11" class="text-center">暂无数据</td>
                                </tr>
                            </notempty>
                            </tbody>
                        </table>
                    </section>
                    <div class="page">
                        {$page}
                    </div>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script src="__ASSET__/laydate/laydate.js"></script>
    <script>
        var start = {
            elem: '#start',
            format: 'YYYY-MM-DD',
            min: '2015-10-10', //设定最小日期为当前日期
            max: laydate.now(), //最大日期
            istoday: false,
            choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas; //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY-MM-DD',
            min: '2015-10-10',
            max: laydate.now(), //最大日期
            istoday: true,
            choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate.skin('molv');
        laydate(start);
        laydate(end);
        $("#search").click(function(){
            var url = "{:U('index')}";
            var query  = $('form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
    </script>
</block>