<extend name="Public/common" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__JS__/uploadify/uploadify.css">
    <style>
        #img_show span,#img_show_multi span{
            position: relative;
            display: inline-block;
        }

        #img_show img,#img_show_multi img{
            margin-right: 5px;
            margin-bottom: 5px;
        }

        #img_show a,#img_show_multi a{
            position: absolute;
            top: 5px;
            right: 5px;
            margin-right: 5px;
        }
    </style>
</block>
<block name="page_nav">
    <div class="page-heading">
        <h3>养殖管理</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">养殖计划</a>
            </li>
            <li class="active">养殖计划列表</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="operate-body">
                        <div class="pull-left">
                            <a href="{:U('add')}" class="btn btn-info">添加</a>
                        </div>
                        <div class="pull-right search-form form-inline">
                            <form action="" onsubmit="return false">
                                <input type="text" name="name" class="form-control search-input" value="{:I('name')}" placeholder="请输入计划标题">
                                <a href="javascript:;" class="btn btn-info" id="search">搜索</a>
                            </form>
                        </div>
                    </div>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>标题</th>
                                    <th>产品</th>
                                    <th>添加时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <notempty name="lists">
                                <volist name="lists" id="row">
                                <tr>
                                    <td>{$row.id}</td>
                                    <td>{$row.title}</td>
                                    <td>{$row.goods_name}</td>
                                    <td>{$row.add_time|date='Y-m-d',###}</td>
                                    <td>
                                        <switch name="row['status']" >
                                            <case value="0">
                                                <span class="label label-primary">正常</span>
                                                <a title="禁用" class="confirm ajax-get" href="{:U('dopush?id='.$row['id']).'&status=1'}">禁用</a>

                                            </case>
                                            <case value="1">
                                                <span class="label label-primary">禁用</span>
                                                <a title="启用" class="confirm ajax-get" href="{:U('dopush?id='.$row['id'].'&status=0')}">启用</a>
                                            </case>
                                        <default />
                                            --
                                        </switch>
                                    </td>
                                    <td>
                                        <if condition="$row.status eq 0">
                                            <a title="编辑" href="{:U('edit?id='.$row['id'])}">编辑</a>
                                            <a title="发布" href="{:U('release',array(id=>$row['id'],gid=>$row['goods_id']))}">发布</a>
                                        </if>
                                        <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$row['id'])}">删除</a>
                                    </td>
                                </tr>
                                </volist>
                            <else/>
                                <tr>
                                    <td colspan="11" class="text-center">暂无数据</td>
                                </tr>
                            </notempty>
                            </tbody>
                        </table>
                    </section>
                    <div class="page">
                        {$page}
                    </div>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $("#search").click(function(){
            var url = "{:U('index')}";
            var query  = $('form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });



        //批量收获
        function doComplete(id,exp)
        {
            layer.use('extend/layer.ext.js', function(){
                layer.prompt({
                    title: '设置实际收益的单位产量',
                    formType: 0
                }, function(cont){
                    var cont = parseFloat(cont);
                    layer.confirm('用户将获得 <span class="label label-danger">'+cont+' 千克/平米</span> 的收益', {
                        btn: ['确定','返回']
                    }, function(){
                        $.ajax({
                            url:'{:U("Sellplan/docomplete")}',
                            data:{id:id,income:cont},
                            type:'post',
                            dataType:'json',
                            success:function(res){
                                if (res.status==0) {
                                    layer.msg(res.info);
                                } else {
                                    layer.msg('操作成功！');
                                    setTimeout(function(){
                                        window.location.reload();
                                    },800);
                                }
                            },
                            error:function(){
                                layer.msg('提交失败');
                                //window.location.reload();
                            }
                        })
                    }, function(){
                        doComplete(id,exp);
                    });
                });
            });

        }
    </script>
</block>