<extend name="Public/common"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__JS__/uploadify/uploadify.css">
    <style>
        #img_show span, #img_show_multi span {
            position: relative;
            display: inline-block;
        }

        #img_show img, #img_show_multi img {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        #img_show a, #img_show_multi a {
            position: absolute;
            top: 5px;
            right: 5px;
            margin-right: 5px;
        }
    </style>
</block>
<block name="page_nav">
    <div class="page-heading">
        <h3>轮播图管理</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('index')}">轮播图列表</a>
            </li>
            <li class="active">轮播图详情</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U()}" class="form">
                        <input type="hidden" name="id" value="{$info.id}">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="title">标题 <span class="check-tips">（模块描述）</span></label>
                                <input type="text" class="form-control" name="title" id="title" value="{$info.title}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">类型 <span class="check-tips">（区分活动图片和轮播图片）</span></label>
                                <label><input type="radio" name="type" value="0" <if condition="$info.status eq 0">checked</if>> 轮播图</label>&nbsp;
                                <label><input type="radio" name="type" value="1" <if condition="$info.status eq 1">checked</if>> 活动图片</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">状态 <span class="check-tips"></span></label>
                                <label><input type="radio" name="status" value="0" <if condition="$info.status eq 0">checked</if>> 未发布</label>&nbsp;
                                <label><input type="radio" name="status" value="1" <if condition="$info.status eq 1">checked</if>> 已发布</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="model">模块标识<span
                                        class="check-tips">（模块对应的地址:Index/index）</span></label>
                                <input type="text" class="form-control" name="model" id="model"
                                       value="{$info.model}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label" for="url">图片链接<span
                                        class="check-tips">（链接对应的控制器：Index/index,Home/Index?acitv='抽奖活动',逗号隔开）</span></label>
                                <input type="text" class="form-control" name="url" id="url"
                                       value="{$info.url}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        养殖图片展示<span class="small">（可以上传多张图片）</span>
                                    </div>
                                    <div class="panel-footer" id="img_show_multi">
                                        <foreach name="info.img" item="row">
                                            <span>
                                                <img src="{$row}" style="width:160px;height:160px;" class="img-thumbnail" alt="养殖展示图片">
                                                <input type="hidden" name="img[]" value="{$row}">
                                                <a href="javascript:void(0)" class="btn btn-xs btn-primary"> 删除 </a>
                                            </span>
                                        </foreach>
                                    </div>
                                    <div class="panel-footer">
                                        <p class="small text-warning">
                                            1、图片格式为jpeg、jpg、gif、png
                                            <br>
                                            2、图片大小不要超过 5M
                                        </p>
                                        <input type="file" id="upload_file_multi">
                                        <input type="button" class="btn btn-primary btn-sm" id="upload_btn_multi"
                                               value=" 上传图片 ">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        计划描述
                                    </div>
                                    <div class="panel-footer">
                                        <script id="ueditor" style="width:100%;height:400px;"
                                                type="text/plain">{$info.description}</script>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary ajax-post" target-form="form">确 定</button>
                        <button class="btn a-back">返 回</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/uploadify/jquery.uploadify.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.all.min.js"></script>

    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('Carousel/index')}");
        //ueditor编辑器
        var ue = UE.getEditor('ueditor', {
            textarea:'description'
        });
        //时间选择窗
        var start = {
            elem: '#plan_start',
            format: 'YYYY-MM-DD',
            istoday: false,
            choose: function(datas){
            }
        };



        //多图上传
        $("#upload_file_multi").uploadify({
            'auto':false,
            'swf': '__JS__/uploadify/uploadify.swf',
            'uploader': "{:U('uploadImg',array('path'=>'goods'))}",
            'buttonText':'选择图片',
            'fileObjName':'Filedata',
            'fileSizeLimit':5120,
            'fileTypeExts':'*.jpg;*.png;*.jpeg;*.gif',
            'fileTypeDesc':'请您选择图片',
            //'formData':{'uid':id},
            'width':68,
            'height':28,
            'multi':true,
            //'queueSizeLimit':1,
            'itemTemplate':false,
            'onUploadSuccess':function(file, data){
                var res = $.parseJSON(data);
                if (res.status) {
                    $('#seed_demo').remove();
                    var cont = '<span><img src="'+res.info+'" style="width:160px;height:160px;" class="img-thumbnail" alt="商品展示图片">';
                    cont += '<input type="hidden" name="img[]" value="'+res.info+'">';
                    cont += '<a href="javascript:void(0)" class="btn btn-xs btn-primary"> 删除 </a></span>';
                    $('#img_show_multi').append(cont);
                    $('#img_show_multi a').click(function() {
                        $(this).parent().remove();
                    })
                } else {
                    layer.msg(res.info);
                }
            }
        });
        $('#upload_btn_multi').click(function() {
            $('#upload_file_multi').uploadify('upload','*');
        });

        $('#img_show_multi a').add('#img_show a').click(function() {
            $(this).parent().remove();
        })
    </script>
</block>