<extend name="Public/common"/>
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>会员</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">会员管理</a>
            </li>
            <li class="active">新增会员</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form role="form" action="{:U()}" class="form">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">用户名 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="user_name" placeholder="用户名">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">昵称 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="nick_name" placeholder="昵称">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">用户类型 <span class="check-tips"></span></label>
                                <select name="is_platform" class="form-control">
                                    <option value="0">普通用户</option>
                                    <option value="1">平台用户</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">农场名 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="farm_name" placeholder="农场名">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">用户密码 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="user_pass" placeholder="用户密码">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">用户邮箱 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="user_email" placeholder="用户邮箱">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label class="item-label">用户手机号 <span class="check-tips"></span></label>
                                <input type="text" class="form-control" name="user_phone" placeholder="用户手机号">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary ajax-post" target-form="form">确 定</button>
                        <button class="btn a-back">返 回</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav("{:U('index')}");
    </script>
</block>