<extend name="Public/common"/>
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>会员</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">资金变动</a>
            </li>
            <li class="active">变动列表</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="operate-body">
                        <div class="pull-right search-form form-inline">
                            <form action="" onsubmit="return false">
                                <input type="text" name="query" class="form-control search-input" value="{:I('query')}" placeholder="请输入ID/名称">
                                创建日期：
                                <input type="text" name="start_time" value="{:I('start_time')}" class="laydate-icon form-control search-input" id="start" placeholder="开始时间"/>
                                <input type="text" name="end_time" value="{:I('end_time')}" class="form-control search-input laydate-icon" id="end" placeholder="结束时间"/>
                                <select name="type" class="form-control search-input">
                                    <option value="">支付状态</option>
                                    <option value="recharge">充值</option>
                                    <option value="refund">退款</option>
                                    <option value="cash_pay">提现成功</option>
                                    <option value="order_pay">下单支付预存款</option>
                                    <option value="order_freeze">下单冻结预存款</option>
                                    <option value="order_cancel">取消订单解冻预存款</option>
                                    <option value="cash_apply">申请提现冻结预存款</option>
                                    <option value="order_comb_pay">下单支付被冻结的预存款</option>
                                    <option value="cash_del">取消提现申请，解冻预存款</option>
                                </select>
                                <a href="javascript:;" class="btn btn-info" id="search">搜索</a>
                            </form>
                        </div>
                    </div>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>用户身份</th>
                                <th>用户名称</th>
                                <th>类型</th>
                                <th>影响金额(单位￥)</th>
                                <th>可用余额(单位￥)</th>
                                <th>冻结金额(单位￥)</th>
                                <th>描述</th>
                                <th>创建日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            <notempty name="lists">
                                <volist name="lists" id="vo">
                                    <tr>
                                        <td>
                                            <if condition="$row['is_platform'] eq 0">
                                                真实用户
                                                <else/>
                                                平台用户
                                            </if>
                                        </td>
                                        <td>{$vo.user_name}</td>
                                        <td>{$vo.type|get_pd_status}</td>
                                        <td style="
                                            <if condition='$vo.affect_money gt 0'>color:red
                                            <else />color:green
                                            </if>">
                                            <if condition="$vo.affect_money gt 0">
                                                +
                                            </if>
                                            {$vo.affect_money}
                                        </td>
                                        <td>{$vo.available_money}</td>
                                        <td>{$vo.freeze_money}</td>
                                        <td>{$vo.description}</td>
                                        <td>{$vo.add_time|date='Y-m-d H:i:s', ###}</td>
                                    </tr>
                                </volist>
                                <else/>
                                <tr>
                                    <td colspan="12" class="text-center">暂无数据</td>
                                </tr>
                            </notempty>
                            </tbody>
                        </table>
                    </section>
                    <div class="page">
                        {$page}
                    </div>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script src="__ASSET__/laydate/laydate.js"></script>
    <script>
        window.setValue('type', '{:I("type")}');
        var start = {
            elem: '#start',
            format: 'YYYY-MM-DD',
            min: '2015-10-10', //设定最小日期为当前日期
            max: laydate.now(), //最大日期
            istoday: false,
            choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas; //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY-MM-DD',
            min: '2015-10-10',
            max: laydate.now(), //最大日期
            istoday: true,
            choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate.skin('molv');
        laydate(start);
        laydate(end);

        $("#search").click(function(){
            var url = "{:U('')}";
            var query  = $('form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
    </script>
</block>
