<extend name="Public/common" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__JS__/ios-switch/switchery.css" />
    <style>
        .switchery {width: 30px;height: 15px;}
        .switchery small{width: 15px;height: 15px;}
    </style>
</block>
<block name="page_nav">
    <div class="page-heading">
        <h3>系统</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">系统管理员</a>
            </li>
            <li class="active">管理员列表</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="operate-body">
                        <div class="pull-left">
                            <a href="{:U('add')}" class="btn btn-info">添加</a>
                        </div>
                        <div class="pull-right search-form form-inline">
                            <form action="" onsubmit="return false">
                                <input type="text" name="name" class="form-control search-input" value="{:I('name')}" placeholder="请输入管理员名称">
                                <a href="javascript:;" class="btn btn-info" id="search">搜索</a>
                            </form>
                        </div>
                    </div>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>用户名</th>
                                    <th>真实姓名</th>
                                    <th>所属组</th>
                                    <th>手机号</th>
                                    <th>邮箱</th>
                                    <th>启用管理员</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <notempty name="lists">
                                <volist name="lists" id="row">
                                <tr>
                                    <td>{$row.admin_id}</td>
                                    <td>{$row.admin_name}</td>
                                    <td>{$row.true_name}</td>
                                    <td>{$row.group_name}</td>
                                    <td>{$row.phone}</td>
                                    <td>{$row.email}</td>
                                    <td>
                                        <input type="checkbox" class="js-switch" data="{$row.admin_id}" <if condition="$row['status'] eq 1">checked</if>/>
                                    </td>
                                    <td>
                                        <a title="编辑" href="{:U('edit?id='.$row['admin_id'])}">编辑</a>
                                        <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$row['admin_id'])}">删除</a>
                                    </td>
                                </tr>
                                </volist>
                            <else/>
                                <tr>
                                    <td colspan="8" class="text-center">暂无数据</td>
                                </tr>
                            </notempty>
                            </tbody>
                        </table>
                    </section>
                    <div class="page">
                        {$page}
                    </div>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/ios-switch/switchery.js" ></script>
    <script src="__JS__/ios-switch/ios-init.js" ></script>
    <script>
        $('.js-switch').change(function(){
            var status = 0;
            var that = $(this);
            var id = that.attr('data');
            if ($(this).is(':checked')) {
                status = 1;
            }
            $.post("{:U('operate')}", {id:id, 'status':status}, function(res){
                if (res.status == 0) {
                   layer.msg(res.info);
                    setTimeout(function(){
                        window.location.reload();
                    },1000);
                }
            });

        });

        $("#search").click(function(){
            var url = "{:U('index')}";
            var query  = $('form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });

        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
    </script>
</block>