<extend name="Public/common"/>
<block name="style">

</block>
<block name="page_nav">
    <div class="page-heading">
        <h3>订单管理</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{:U('index')}">订单列表</a>
            </li>
            <li class="active">设置发货</li>
        </ul>
    </div>
</block>
<block name="body">
<div class="row">
<div class="col-sm-12">
<section class="panel">
<div class="panel-body">
<section id="unseen">
<table class="table table-bordered">
    <tbody>
    <tr>
        <td>订单状态：{$info.state_txt}</td>
        <td>订单编号：{$info.order_sn}</td>
        <td>下单时间：{$info.add_time|date='Y-m-d H:i:s', ###}</td>
    </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>商品名称</th>
        <th>数量</th>
        <th>价格</th>
        <th>实际支付金额</th>
    </tr>
    </thead>
    <tbody>
    <volist name="info.extend_order_goods" id="goods">
        <tr>
            <td>{$goods.goods_name}</td>
            <td>{$goods.goods_num}</td>
            <td>{$goods.goods_price}</td>
            <td>{$goods.goods_pay_price}</td>
        </tr>
    </volist>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <eq name="info.shipping_fee" value="0.00">
                （免运费）
                <else/>
                运费：<i class="fa fa-rmb"></i>{$info.shipping_fee}
            </eq>
            订单总价：<i class="fa fa-rmb"></i>{$info.order_amount}
        </td>
    </tr>
    </tfoot>
</table>
<table class="table">
    <notempty name="info.payment_name">
        <tr>
            <td>支付方式：{$info.payment_name}</td>
        </tr>
    </notempty>
    <tr>
        <td>下单时间：{$info.add_time|date='Y-m-d H:i:s', ###}</td>
    </tr>
    <notempty name="info.payment_time">
        <tr>
            <td>付款时间：{$info.payment_time|date='Y-m-d H:i:s', ###}</td>
        </tr>
    </notempty>
    <notempty name="info.shipping_time">
        <tr>
            <td>发货时间：{$info.shipping_time|date='Y-m-d H:i:s', ###}</td>
        </tr>
    </notempty>
    <notempty name="info.finnshed_time">
        <tr>
            <td>完成时间：{$info.finnshed_time|date='Y-m-d H:i:s', ###}</td>
        </tr>
    </notempty>
    </tr>
</table>

<!-- 物流信息 -->
<h3>物流信息</h3>
<table class="table" style="margin-bottom: 0px;">

    <notempty name="info.extend_order_common.order_message">
        <tr>
            <td>买家留言：{$info.extend_order_common.order_message}</td>
        </tr>
    </notempty>
    <tr>
        <td class="col-lg-2">收货人：
                                    <span id="reciver_person">
                                        {$info.extend_order_common.reciver_name}&nbsp;
                                    <if condition="isset($info['extend_order_common']['reciver_info']['phone'])">
                                        {$info.extend_order_common.reciver_info.phone}&nbsp;
                                    </if>
                                    <if condition="isset($info['extend_order_common']['reciver_info']['address'])">
                                        {$info.extend_order_common.reciver_info.address}&nbsp;
                                    </if>
                                    </span>

            <a id="editInfo" href="javascript:;">编辑</a>
        </td>
    </tr>


</table>

<form role="form" id="ajaxForm" class="form-horizontal" style="display:none">
    <div class="row">
        <div class="form-group col-lg-4">
            <label class="col-lg-3 col-sm-3 control-label">联系人： </label>

            <div class="col-lg-9">
                <input type="text" class="form-control" name="reciver_name"
                       value="{$info.extend_order_common.reciver_name}" placeholder="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4">
            <label class="col-lg-3 col-sm-3 control-label">手机号码： </label>

            <div class="col-lg-9">
                <input type="text" class="form-control" name="phone"
                       value="{$info.extend_order_common.reciver_info.phone}" placeholder="名称">
            </div>
        </div>
    </div>
    <input type="hidden" name="oid" value="{:I('order_id')}"/>

    <div class="row">
        <div class="form-group col-lg-4">
            <label class="col-lg-3 col-sm-3 control-label">收货地址：</label>

            <div class="col-lg-9">
                <input type="text" class="form-control" name="address"
                       value="{$info.extend_order_common.reciver_info.address}" placeholder="地址">
            </div>
        </div>
    </div>
    <label class="col-sm-1">　</label>

    <div class="col-lg-9">
        <button id="userInfo" class="btn btn-primary ajax-post" target-form="form">确 定</button>
    </div>
</form>

<table class="table">

        <tr>
            <td class="col-lg-4">
                <div class="row">
                    <span class="col-lg-8">发货人：
                    <empty name="info.extend_order_common.daddress_id">
                        <span class="">请设置农场的默认发货地址</span>
                    </empty>
                    <notempty name="info.extend_order_common.daddress_id">
                        <span id="dadd">{$defaultAddress.seller_name}　{$defaultAddress.telphone}　{$defaultAddress.address}</span>
                        <a href="javascript:;" id="editDaddress">编辑</a>
                    </notempty>
                        </span>
                    <div id="daddress" style="display: none">
                        <div class="col-lg-3 "  >
                            <select name="daddress_id" id="daddress_id" class="form-control search-input">
                                <option value="0"> 请选择发货地址</option>
                                <volist name="daddress" id="address">
                                    <option value="{$address.id}">{$address.seller_name}　{$address.telphone}　{$address.address}</option>
                                </volist>
                            </select>
                        </div>
                        <button href="javascript:;" class="btn btn-primary " id="editAddress">确定</button>
                    </div>


                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label class="col-sm-3 control-label">物流单号： </label>

                        <div class="col-lg-6">

                            <input type="text" class="form-control" name="shipping_code"
                                   value="{$info.shipping_code}" id="shipping_code" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <select name="shipping_company" id="companys" class="form-control search-input">
                            <option value="0">物流公司</option>
                            <volist name="companys" id="company" key="k">

                                <option value="{$k}" <if condition = "$info['extend_order_common']['shipping_express_id'] eq $k"> selected</if> >{$company}</option>
                            </volist>
                        </select>
                    </div>
                    <button href="javascript:;" class="btn btn-primary ajax-post" id="editLogistics">确定</button>
                </div>
            </td>
        </tr>

</table>
<h3>发票信息</h3>
<table class="table">
    <!-- 发票信息 -->
    <if condition="isset($info['extend_order_common']['invoice_info'])">
        <volist name="info.extend_order_common.invoice_info" id="vo">
            <tr>
                <td>{$key}：{$vo}</td>
            </tr>
        </volist>
    </if>
</table>
<!-- 订单操作日志 -->
<notempty name="log">
    <h3>操作历史</h3>
    <table>
        <tbody>
        <volist name="log" id="vo">
            <tr>
                <td>{$vo.operate_rule} {$vo.operate_user} &emsp; {$vo.operate_time|date='Y-m-d H:i:s',
                    ###} &emsp; {$vo.description}
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</notempty>
</section>
</div>
</section>
</div>
</div>
</block>
<block name="script">
    <script type="text/javascript">
        highlight_subnav("{:U('index')}");
        //编辑收件人信息
        $('#editInfo').click(function () {
            var style = $('#ajaxForm').css('display');
            if(style == 'none'){
                $('#ajaxForm').css('display', 'block');
            }else{
                $('#ajaxForm').css('display', 'none');
            }

        });

        //编辑收货人地址
        $('#userInfo').click(function () {
            var order_id = "{$info.order_id}";
            var reciver_name = $('input[name="reciver_name"]').attr('value');
            var phone = $('input[name="phone"]').attr('value');
            var address = $('input[name="address"]').attr('value');
            var url = "{:U('editAddress')}";
            //等待样式和连接失败提示
            layer.load();
            setTimeout(function () {
                layer.closeAll('loading');
            }, 10000);
            $.ajax({
                type: 'post',
                url: url,
                data: {'order_id': order_id, 'phone': phone, 'address': address, 'reciver_name': reciver_name},
                dataType: 'json',
                success: function (msg) {
                    //清除等待样式
                    layer.closeAll('loading');
                    $('#ajaxForm').attr('style', 'display:none');
                    $('#reciver_person').html(msg.info);
                }
            });
        });

        //编辑物流信息
        $('#editLogistics').click(function () {
            //获取物流单号以及物流公司
            var order_id = "{$info.order_id}";
            var shipping_code = $('input[name="shipping_code"]').attr('value');
            var shipping_express_id = $('#companys').val();

            if(!shipping_code){layer.tips('请输入物流单号', '#shipping_code',{tips:1});return false;}
            if(shipping_express_id == 0){layer.tips('请选择公司', '#companys',{tips:1});return false;}

            $.ajax({
                url:"{:U('editLogistics')}",
                type:'post',
                data:{'order_id':order_id,'shipping_code':shipping_code,'shipping_express_id':shipping_express_id},
                dataType:'json',
                success: function () {
                    //订单状态为已发货状态，重新加载
                    location.reload();
                }
            });
        });

        //显示或隐藏修改发货地址
        $('#editDaddress').on('click', function () {
            //获取隐藏的选项卡的display属性
            var style = $('#daddress').css('display');
            if(style == 'none'){
                $('#daddress').css('display','block');
            }else{
                $('#daddress').css('display','none');
            }

        });

        //编辑发货地址
        $('#editAddress').on('click', function(){
            //获取订单ID
            var order_id = "{$info.order_id}";
            var daddress_id = $('#daddress_id').val();
            var url = "{:U('editDaddress')}";
            if(daddress_id == 0){layer.tips('请选择发货地址', '#daddress_id',{tips:1});return false;}
            $.ajax({
                url:url,
                type:'post',
                data:{'order_id':order_id,'daddress_id':daddress_id},
                dataType:'json',
                success: function (msg) {
                    console.log(msg.status);
                    console.log(msg);
                    if(msg.status == 1){
                        $('#dadd').html(msg.info);
                        $('#daddress').css('display','none');
                    }
                }
            });
        });


    </script>
</block>