<extend name="Public/common" />
<block name="style"></block>
<block name="page_nav">
    <div class="page-heading">
        <h3>商城</h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">商品管理</a>
            </li>
            <li class="active">商品列表</li>
        </ul>
    </div>
</block>
<block name="body">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="operate-body">
                        <div class="pull-left">
                            <a href="{:U('add')}" class="btn btn-info">添加</a>
                        </div>
                        <div class="pull-right search-form form-inline">
                            <form action="" onsubmit="return false">
                                添加时间：
                                <input type="text" name="start_time" value="{:I('start_time')}" class="laydate-icon form-control search-input" id="start" placeholder="开始时间"/>
                                <input type="text" name="end_time" value="{:I('end_time')}" class="form-control search-input laydate-icon" id="end" placeholder="结束时间"/>
                                <input type="text" name="name" class="form-control search-input" value="{:I('name')}" placeholder="请输入商品名称">
                                <a href="javascript:;" class="btn btn-info" id="search">搜索</a>
                            </form>
                        </div>
                    </div>
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>商品名称</th>
                                    <th>单价(元/份)</th>
                                    <th>市场价格(元/份)</th>
                                    <th>库存(份)</th>
                                    <th>实际销量(份)</th>
                                    <th>预设销量(份)</th>
                                    <th>预览量</th>
                                    <th>评论数</th>
                                    <th>状态</th>
                                    <th>添加时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            <notempty name="lists">
                                <volist name="lists" id="row">
                                <tr>
                                    <td>{$row.id}</td>
                                    <td>{$row.name}</td>
                                    <td>{$row.price}</td>
                                    <td>{$row.mark_price}</td>
                                    <td>{$row.stock}</td><!-- 库存 -->
                                    <td>{$row.real_sales}</td>
                                    <td>{$row.sales}</td>
                                    <td>{$row.browse}</td>
                                    <td>{$row.comment}</td>
                                    <td>
                                        <a class="confirm ajax-get" title="单击更改状态" href="{:U('status', array('id'=>$row['id'], 'status'=>1-$row['status']))}">
                                            <eq name="row.status" value="0">
                                                <span class="badge ">未上架</span>
                                                <else/>
                                                <span class="badge badge-success">上架</span>
                                            </eq>
                                        </a>
                                    </td>
                                    <td>{$row.add_time|date='Y-m-d', ###}</td>
                                    <td>

                                            <a title="编辑" href="{:U('edit?id='.$row['id'])}">编辑</a>
                                            <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$row['id'])}">删除</a>



                                    </td>
                                </tr>
                                </volist>
                            <else/>
                                <tr>
                                    <td colspan="13" class="text-center">暂无数据</td>
                                </tr>
                            </notempty>
                            </tbody>
                        </table>
                    </section>
                    <div class="page">
                        {$page}
                    </div>
                </div>
            </section>
        </div>
    </div>
</block>
<block name="script">
    <script src="__ASSET__/laydate/laydate.js"></script>
    <script>
        var start = {
            elem: '#start',
            format: 'YYYY-MM-DD',
            min: '2015-10-10', //设定最小日期为当前日期
            max: laydate.now(), //最大日期
            istoday: false,
            choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas; //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY-MM-DD',
            min: '2015-10-10',
            max: laydate.now(), //最大日期
            istoday: true,
            choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate.skin('molv');
        laydate(start);
        laydate(end);
        window.setValue('type', '{:I("type", 0, "intval")}');
        $("#search").click(function(){
            var url = "{:U('index')}";
            var query  = $('form').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
    </script>
</block>